1. Stwórz program, który wydrukuje na ekranie następujący wzór dla n, gdzie n to liczba
rzędów podana przez użytkownika za pomocą funkcji input (2pkt):


- n = 9
- 1
- 12
- 123
- 1234
- 12345
- 123456
- 1234567
- 12345678
Podpowiedź - pierwszy rząd jest pusty, dlatego widocznych jest tylko 8 rzędów

In [14]:
n = int(input())

rows = (n)
for columns in range( 1 , n):
  for rows in range(1 , columns + 1):
    print(rows , end=' ')
  print()

9
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

2. Stwórz program, który wydrukuje na ekranie następujący wzór (2pkt):
- *
- **
- ***
- ****
- *****
- ****
- ***
- **
- *

In [20]:
x = 5


for columns in range( 0, columns +  1):
  for rows in range(0 , columns + 1 ):
    print('*' , end=' ')
  print('')


# jednak nie umiem

*

3. Stwórz listę zawierającą następujące obiekty klasy int [6, 2, 3, 7, 1, 12, 56, 99].
Następnie napisz program, który:
- zamieni wszystkie dwucyfrowe liczby na dowolne obiekty klasy String (1pkt)
-  wypisze na ekranie najmniejszą wartość (2pkt

In [ ]:
lista = [ 6 , 2 , 3 , 7 , 1 , 12 , 56 , 99 ]


for liczba in lista:
  if liczba > 9:
    print(';3')
  else:
    print(liczba)

6
2
3
7
1
;3
;3
;3

In [ ]:
lista = [ 6 , 2 , 3 , 7 , 1 , 12 , 56 , 99 ]

min(lista)

1