zadanie
1. wgrac csv titanic z zeszlysz zajec
2. napisaniu wlasnej funkcji zamieniajacej female na cyfre 1 i male na 0
3. zastosowaniu wlasnej funkcji na kolumnie z df titanic 'sex'
4. storznie nowej kolumny o nazwie 'sex_new' z wartosciami 0 i 1 na podsawie tabli 's

In [ ]:
import pandas as pd

In [ ]:
df_titanic = pd.read_csv('/contemt/train (1).csv')

df_titanic

In [ ]:
def SEX(Sex):
  if Sex == 'female':
    return 'female'
  else:
    return 'male'

In [ ]:
df_titanic['Sex_new'] = df_titanic['Sex'].apply(SEX)